.title_register {
    color: rgb(5, 122, 254);
}

.title_login {
    color: rgb(40, 166, 68);
}

.form_initial {
    margin-top: 2.0em;
}

.title {
    margin-top: 0.5em;
}

.box {
    background-color: rgb(202, 197, 197);
    padding-bottom: 1.0em;
    border-radius: 1.0em;
}

.container_login {
    margin-top: 2.0em;
}

.message {
    color: red;
}

.head_page {
    background-color: rgb(190, 185, 185);
    padding: 1.0em;
    margin-bottom: 2.0em;
}

.form_dashboard, .form_dashboard_operations {
    display: flex;
    text-align: center;
}

.form_dashboard_view, .form_dashboard_operations  {
    flex: 2;
}

.form_dashboard_edit, .form_dashboard_delete{
    flex: 1;
}

.title_actions {
    text-align: center;
}

.form_create {
    text-align: right;
}

.div_messages_create {
    background-color: rgb(211, 201, 201);
    padding: 1.0em;
    border-radius: 1.0em;
    margin: 1.0em 0;
}

.link_dashboard {
    text-align: right;
    font-size: x-large;
}

.box_info {
    border-radius: 1.0em;
    border: 2px solid black;
    padding: 1.0em;
}